* {
  margin: 0;
  /*positioner la marge à 0*/
  padding: 0;
  /*positionner le bord à 0*/
}

:root {
  --dark_color: #851342;
  --light_color: #ca2061;
  --color_gray: gray;
  --radius_button: 10px;
  font-family: "Jost", sans-serif;

  --toastify-color-progress-light: #ca2061;
  --toastify-text-color-light: #ca2061;
}
